body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

textarea {
    width: 80%;
    height: 200px;
}

.card {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
}

.HIGH { background: #ff4d4d; }
.MEDIUM { background: #ffaa00; }
.LOW { background: #2ecc71; }
